.parent6 {
    height: 300px;
    width: 100%;
    position: relative;
    background-image: url('../images/gym-with-dumbbells-floor.jpg');
    background-size: auto, cover;
    background-attachment: fixed;
    justify-content: center;
}

.parent6 .layout {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}


.score {
    display: flex;
    justify-content: center;
    color: #ffffffe0;
}

.general {
    margin: 100px;
    text-align: center;
}

.number {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mood {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}